<% @order=Order.currentuser(current_user).incart.first %>
  <% if @order %>
    <% @orderitems=Orderitem.item_present(@order.id) %>
    <% if @orderitems %>
      <% orderitem_count=@orderitems.count %>
    <% end %>
  <% end %>
  <% if orderitem_count %>
    <div class="<%= display_cart ? "cart_menu_block" : "" %>">
  <% else %>
    <div class="">
  <% end %>
      <% if display_cart and orderitem_count %>
        <% if orderitem_count >0 %>
          <div class="cart_display_content">
            <div class="cart_section">
              <p class="cart_section_title">Items in your cart</p>
              <table class="cart_section_table">
                <tr class="cart_section_row">
                  <th class="cart_section_data">Item Name</th>
                  <th class="cart_section_data">Quantity</th>
                  <th class="cart_section_data">Price</p></th>
                  <th class="cart_section_data">Total</p></th>
                </tr>
                <% subtotal=0 %>
                <% @orderitems.all.each do |orderitem| %>
                  <tr class="cart_section_row">
                    <% x=orderitem.no_of_items %>
                    <% y=orderitem.menuitem_price %>
                    <% subtotal= subtotal+(x*y) %>
                    <td class="cart_section_data"><%= orderitem.menuitem_name %></td>
                    <td class="cart_section_data"><%= x %></td>
                    <td class="cart_section_data"><%= y %></td>
                    <td class="cart_section_data"><%= x*y %></td>
                  </tr>
                <% end %>
              </table>
              <p class="cart_section_subtotal"> SubTotal: <%= subtotal %>/-</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
