<div class="list_menuitems">
  <table class="Menu_display menu_section_display" width="100%">
    <div class="title_and_delete">
      <p class="title"><%= menu_title %></p>
      <% if show_delete_btn %>

      <% end %>
    </div>
    <% menuitems.active.each do |menu_item| %>
      <tr class="description_image_block">
        <div class="description_image">
          <td colspan="2">
            <img src="<%= menu_item.url %>" class="menu-item-image", title="<%= menu_item.name %>">
          </td>
          <td colspan="2">
            <p class="description"> <%= menu_item.description %> </p>
          </td>
        </div>
      </tr>
      <tr>
        <td colspan="2" width="20%">
          <p class="Menu_name"> <%= menu_item.name %></p>
        </td>
        <td width="20%">
          <p class="display_price">
            Price :<%= menu_item.price %>/-
          </p>
        </td>
        <% if show_delete_btn %>
          <td width="20%">
            <%= form_with(url: "/menuitems/#{menu_item.id}",method: "DELETE",local: true) do %>
              <div class="input-icons">
                <button class="delete" type="submit">
                  <i class="fa fa-trash icon_delete"></i>&nbsp;&nbsp;&nbsp; Delete
                </button>
              </div>
            <% end %>
          </td>
          <td width="20%">
            <%= link_to "Edit", "/menuitems/#{menu_item.id}/edit", method:"get", class:"links" %>
          </td>
          <% else %>
            <td colspan="2" width="40%">
              <%= form_with(url: "/orders",method: "POST", local: true) do %>
                <% order=Order.currentuser(current_user).incart.first %>
                <% orderitem = order.orderitems.menuitem_present(menu_item.id).first %>
                <input class="item_count"
                  name="no_of_items"
                  type="number"
                  min="1"
                  max="10"
                  value="<%= orderitem ? orderitem.no_of_items !=nil ? "#{orderitem.no_of_items}" : "0" : "0" %>"
                >
                <input type="hidden" name="id" value="<%= menu_item.id %>">
                <input class="Add_to_cart" type="submit" value="&nbsp;Add&nbsp;" data-disable-with="Adding....">
              <% end %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </table>
</div>
