<main class="Main_page">
  <% if show_adding_column %>
        <form class="Adding_menus" action="/menus" method="POST">
                <div class="Add_menu_block">
                        <h1 class="add_menu">Add Menu:</h1>
                        <div class="add_menu_input">
                                <p class="menu_label">Menu Name:</p>
                                <input class="menu_box" type="text" name="name" size="20" placeholder="Enter name of menu">
                        </div>
                        <div class="add_menu_input">
                                <input class="submit" type="submit" value="Add menu">
                        </div>
                </div>
        </form>
         <form class="Add_menu" action="/menuitems" method="POST">
                <input class="item" type="text" name="name" size="15" placeholder="Enter item name">
                <input class="price" type="text" name="price" size="10" placeholder="Enter Price">
                <!-- The below line is for identifying the menu name and finding its menu id to add to menuitems table -->
                <select class="menu_id" name="menu_id">
                        <% menus.all.each do |menu| %>
                                <option value="<%= menu.id %>"> <%= menu.name %></option>
                        <% end %>
                </select>
                <%= text_field_tag "url",nil,class:"image-holder",placeholder:"Image Url" %>
                <input class="submit" type="submit" value="Add an item">
        </form>
  <% end %>
        <%= form_with(url:unique_menuitem_path,local:true) do |form| %>
                <%= form.text_field :name,class:"Form-menuitem-input", placeholder:"Enter Fooditem",autofocus:"autofocus" %>
                <%= form.submit "search",class:"Form-search" %>
        <% end %>
        <% menus.all.each do |menu| %>
                <%= render partial:"menu-section",locals:{
                        menu_title:menu.name,
                        menuitems:Menuitem.all.where(menu_id:menu.id),
                        show_delete_btn:show_adding_column,
                } %>
        <% end %>
</main>
