<main class="cart_display">
  <p class="cart_heading">
    Items in your cart
  </p>
  <% bill_amount=0 %>
  <% orderitems.all.each do |orderitem| %>
  <% bill_amount = bill_amount+ Orderitem.calculate(orderitem.no_of_items,orderitem.menuitem_price) %>
  <table class="cart_table">
      <tr class="cart_row">
        <td class="cart_item_data">
          <%= orderitem.menuitem_name %>
        </td>
        <td class="cart_item_data">
          <p>Price :<%= orderitem.menuitem_price %>/-</p>
        </td>
         <td class="cart_item_data">
          <%= form_with(url: "/orderitems/#{orderitem.id}", method: "put") do %>
            <p>No.of items : <input type="number"
                                  name="no_of_items"
                                  value="<%= orderitem.no_of_items %>"
                                  min="0"
                                  max="10"
                                  size="10"
                                  onchange="this.form.submit()"
                            >
            </p>
          <% end %>
        </td>
        <td class="cart_item_data">
          <%= form_with(url: "/orderitems/#{orderitem.id}",method: "delete",local:true) do %>
            <input type="submit" class="Remove_cartitem" value="Remove">
          <% end %>
        </td>
      </tr>
    </table>
    <% end %>
    <p class="Bill"> Total Bill: <%= bill_amount %>/- </p>
  <hr width=50%>
  <%= form_with(url: "/orders/#{orderid}", method: "put", local:true) do %>
    <input type="hidden" name="status" value="ordered">
    <input type="hidden" name="bill" value="<%= bill_amount %>">
    <% if bill_amount > 0%>
      <input type="submit" class="Confirm_order" value="Confirm Order">
    <% end %>
  <% end %>
  <form action="/menus" method="get">
    <input class="back_to_menu cart" type="submit" value="Back to menu">
  </form>
</main>
