<% total_earning=0 %>
<% total_quantity=0 %>
<% orders_list.each do |order| %>
  <% if item_name=="ALL" %>
    <% total_earning=total_earning+order.bill %>
  <% else %>
    <% order.orderitems.order(:menuitem_name).each do |orderitem| %>
      <% if orderitem.menuitem_name.gsub(/\s+/, "").strip.upcase==item_name %>
        <% total_earning=total_earning+( orderitem.menuitem_price*orderitem.no_of_items) %>
        <% total_quantity = total_quantity+orderitem.no_of_items %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if total_earning > 0 %>
  <% if item_name!="ALL" %>
    <div class="sales_page_quantity">
      <div class="display_dates">Total Quantities :
        <p class="display_ini_fin_dates"><%= total_quantity %></p>
      </div>
    </div>
  <% end %>
  <p class="totalearning">Total Earning :<%= total_earning %>/-</p>
  <table class="list_orders_to_admin">
    <tr class="list_row">
      <th colspan="2" class="heading_lists"> Menuitem Name </th>
      <th class="heading_lists"> Delivered Date </th>
      <th class="heading_lists"> Price </th>
      <th class="heading_lists"> Quantity </th>
      <th class="heading_lists"> Sub Total </th>
    </tr>
    <% value_decides_class=0 %>
    <% orders_list.order(:date).each do |order| %>
      <% order.orderitems.order(:menuitem_name).each do |orderitem| %>
        <% if item_name=="ALL" %>
          <% value_decides_class+=1 %>
          <tr class="<%= value_decides_class.even? ? "list_row_one" : "list_row_two" %>">
            <td colspan="2" class="list_row_data">
              <%= orderitem.menuitem_name %>
            </td>
            <td class="list_row_data">
              <%= order.date.to_s(:long) %>
            </td>
            <td class="list_row_data">
              <%= orderitem.menuitem_price %>
            </td>
            <td class="list_row_data">
              <%= orderitem.no_of_items %>
            </td>
            <td class="list_row_data">
              <p class="order_bill"> Bill : <%= orderitem.menuitem_price*orderitem.no_of_items %>/-</p>
            </td>
          </tr>
        <% else %>
          <% if orderitem.menuitem_name.gsub(/\s+/, "").strip.upcase==item_name %>
            <% value_decides_class+=1 %>
            <tr class="<%= value_decides_class.even? ? "list_row_one" : "list_row_two" %>">
              <td colspan="2" class="list_row_data">
                <%= orderitem.menuitem_name %>
              </td>
              <td class="list_row_data">
                <%= order.date.to_s(:long) %>
              </td>
              <td class="list_row_data">
                <%= orderitem.menuitem_price %>
              </td>
              <td class="list_row_data">
                <%= orderitem.no_of_items %>
              </td>
              <td class="list_row_data">
                <p class="order_bill"> Bill : <%= orderitem.menuitem_price*orderitem.no_of_items %>/-</p>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <div class="emptysales_block">
    <img src="nodelivery.jpeg" class="delivery_image">
    <p class="myorders_message message_myorders">
      No sales for <%= @item_name.capitalize %> respective dates
    </p>
  </div>
<% end %>
