<div class="main_content">
  <%= form_with(url: "/menuitems/#{@menuitem.id}", method: "put") do %>
    <div class="edit_block">
      <div class="edit_input_block">
          <label class="edit_name">Item Name:</label>
          <%= text_field_tag(
              name="name",
              value="#{@menuitem.name}",
              class: "edit_name_price",
              size: "15"
              )
            %>
        </div>
        <div class="edit_input_block">
          <label class="edit_name">Price:</label>
          <%= text_field_tag(
              name="price",
              value="#{@menuitem.price}",
              size: "5",
              class: "edit_name_price"
              )
            %>
        </div>
        <div class="edit_input_block">
          <label class="edit_name">Category:</label>
          <select class="menu_id edit_name_price" name="menu_id">
            <% Menu.active.each do |menu| %>
              <option value="<%= menu.id %>" <%= (menu.name==Menu.find(@menuitem.menu_id).name) ? "selected" : "" %>> <%= menu.name %> </option>
            <% end %>
          </select>
        </div>
        <div class="edit_input_block">
          <label class="edit_name">Image Url:</label>
          <%= text_field_tag(
              name="url",
              value="#{@menuitem.url}",
              class: "edit_url",
              size: "15"
              )
            %>
        </div>
        <div class="edit_input_block">
          <label class="edit_name">Description:</label>
          <%= text_area_tag(
              name="description",
              value="#{@menuitem.description}",
              placeholder: "Describe your item .....",
              class: "edit_description",
              rows: "5",
              columns: "60"
              )
            %>
        </div>
        <div class="edit_submit_block">
          <input type="submit" class="update_button" value="Update item" data-disable-with="Updating ..." >
        </div>
    </div>
  <% end %>
</div>
