<p class="title_of_page"> Manage Billing Person </p>
<%= form_with(url:unique_customer_path,local:true) do |form| %>
  <div class="email_search">
    <div class="input-icons">
      <i class="fa fa-envelope icon_mail"></i>
      <%= form.text_field :email,class:"Form-email-input", placeholder:"Enter Valid Email-id" %>
    </div>
    <%= form.submit "search",class:"Form-search" %>
    </div>
  </div>
<% end %>
<section class="users_display_page">
  <table class="display_users_to_owner">
    <%= render partial:"customer-section",locals:{
      user_title: "Clerk",
      customers: Customer.clerk,
      cust_value: "Customer",
      button_value: "Remove as Clerk"
      } %>
  </table>
  <table class="display_users_to_owner">
    <%= render partial:"customer-section",locals:{
      user_title: "Customer",
      customers: Customer.customer,
      cust_value: "Clerk",
      button_value: "Mark as Clerk"
      } %>
  </table>
  <form action="/menus" method="get">
    <input class="back_to_menu" type="submit" value="Back to menu">
  </form>
</section>
