<section class="background_style">
  <div class="Customer_signup">
    <h1 class="NewCustomers_title">Welcome new Customer!</h1>
    <section class="NewCustomers">
      <%= form_with url:customers_path do |form| %>
        <div class="Form-section">
          <div class="Form-input-label">First Name:<p class="Mandatory"> * </p></div>
          <%= form.text_field :first_name,class:"Form-input",placeholder:"First Name",autofocus: "autofocus" %>
        </div>
        <div class="Form-section">
          <div class="Form-input-label">Last Name:</div>
          <%= form.text_field :last_name,class:"Form-input",placeholder:"Last Name" %>
        </div>
        <div class="Form-section">
          <div class="Form-input-label">Email:<p class="Mandatory"> * </p></div>
          <%= form.email_field :email,class:"Form-input",placeholder:"Email-id" %>
        </div>
        <div class="Form-section">
          <div class="Form-input-label">Password:<p class="Mandatory"> * </p></div>
          <%= form.password_field :password,class:"Form-input",placeholder:"Password" %>
        </div>
        <div class="Form-section">
          <%= form.submit "Sign Up",class:"Form-submit"%>
        </div>
      <% end %>
    </section>
    <p class="Signin_link">If you are an existing user<%= link_to "Sign-in",new_sessions_path,class:"links" %>here </p>
  </div>
</section>
