<% if count!=0 %>
  <p class="order_items_caption <%= style_class %>"> <%= order_title %> </p>
<table class="list_orders_to_admin">
  <tr class="list_row">
    <th colspan="2" class="heading_lists"> Name </th>
    <th class="heading_lists">Ordered Date</th>
    <th class="heading_lists"> Sub Total</th>
    <th class="heading_lists"> Display Details </th>
    <% if order_title=="Ordered" %>
      <th class="heading_lists"> Cancellation </th>
    <% end %>
  </tr>
  <% value_decides_class=0 %>
  <% orders.notincart.order(:date).each do |order| %>
    <% value_decides_class+=1 %>
    <tr class="<%= value_decides_class.even? ? "list_row_one" : "list_row_two" %>">
    <% customer=Customer.find(order.customer_id) %>
      <td colspan="2" class="list_row_data">
        <%= order.customer_name %>
      </td>
      <td class="list_row_data">
        <%= order.date.to_s(:long) %>
      </td>
      <td class="list_row_data">
        <p class="order_bill"><%= order.bill %>/-</p>
      </td>
      <td class="list_row_data">
        <% if order_title!="Delivered" %>
          <%= form_with(url: "/orders/#{order.id}", method: "get",local: true) do %>
            <input class="button show list_row_show" type="submit" value="Show Details">
          <% end %>
        <% else %>
          <%= form_with(url: invoice_path, method: "get",local: true) do %>
            <input type="hidden" name="id" value="<%= order.id %>">
            <input class="button show list_row_show" type="submit" value="View Invoice">
          <% end %>
        <% end %>
      </td>
      <% if order_title=="Ordered" %>
        <td class="list_row_data">
          <%=  form_with(url: "/orders/#{order.id}",method: "delete",local: true) do %>
              <input type="hidden" name="id" value="<%= order.id %>">
              <input type="submit" value="Cancel order" class="cancel_order" onclick="return myConfirm();">
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>
