<% if count!=0 %>
<p class="order_items_caption"> <%= order_title %> </p>
<% end %>
<% orders.notincart.order(:date).each do |order| %>
<div class="order_table_block">
  <table class="order_table">
    <% Orderitem.find_by_id(order.id).all.each do |orderitem| %>
        <tr class="order_row">
          <td  class="order_item_data">
            <input type="text" class="myorder_name name_myorders" value="<%= orderitem.menuitem_name %>" readonly>
          </td>
          <td  class="order_item_data">
            <input type="text" class="myorder_name price_myorders" value="Price:<%= orderitem.menuitem_price %>/-" readonly>
          </td>
          <td  class="order_item_data">
            <input type="text" class="myorder_name items_myorders" value="No.of items:<%= orderitem.no_of_items %>" readonly>
          </td>
        </tr>
    <% end %>
  </table>
  <table class="order_table">
    <tr>
      <td class="order_item_data">
        <p class="Bill in_myorders">Total Bill: <%= order.bill %>/- </p>
      </td>
    </tr>
  </table>
</div>
<% end %>
