<% total_earning=0 %>
<% orders_list.all.each do |order| %>
  <% total_earning=total_earning+order.bill %>
<% end %>
<p class="totalearning">Total Earning :<%= total_earning %>/-</p>
<table class="list_orders_to_admin">
  <tr class="list_row">
    <th colspan="2" class="heading_lists"> Name </th>
    <th class="heading_lists">
      <% if show_delivered_button %>
        Ordered Date
      <% else %>
        Delivered Date
      <% end %>
    </th>
    <th class="heading_lists"> Contact Number </th>
    <th class="heading_lists"> Sub Total </th>
    <th class="heading_lists"> Details </th>
    <th colspan="2" class="heading_lists"> Address </th>
    <% if show_delivered_button %>
      <th class="heading_lists"> Status </th>
    <% end %>
  </tr>
  <% value_decides_class=0 %>
  <% orders_list.order(:date).each do |order| %>
    <% value_decides_class+=1 %>
    <tr class="<%= value_decides_class.even? ? "list_row_one" : "list_row_two" %>">
    <% customer=Customer.find(order.customer_id) %>
      <td colspan="2" class="list_row_data">
        <%= order.customer_name %>
      </td>
      <td class="list_row_data">
        <%= order.date.to_s(:long) %>
      </td>
      <td class="list_row_data">
        <% if order.customer_name != "Walk-in-customer" %>
          <%= customer.contact_number %>
        <% else %>
          <% number = "- - -" %>
          <%= number %>
        <% end %>
      </td>
      <td class="list_row_data">
        <p class="order_bill"> Bill : <%= order.bill %>/-</p>
      </td>
      <td class="list_row_data">
       <% if show_delivered_button %>
          <%= form_with(url: "/orders/#{order.id}", method: "get",local: true) do %>
            <input class="button show list_row_show" type="submit" value="Show Details">
          <% end %>
        <% else %>
          <%= form_with(url: invoice_path, method: "get",local: true) do %>
            <input type="hidden" name="id" value="<%= order.id %>">
            <input class="button show list_row_show" type="submit" value="View Invoice">
          <% end %>
        <% end %>
      </td>
      <td colspan="2" class="list_row_data">
        <%= order.address %>
      </td>
      <% if show_delivered_button %>
        <td class="list_row_data">
          <%= form_with(url: deliver_order_path, method: "get",local: true) do %>
            <input type="hidden" name="id" value="<%= order.id %>">
            <input class="button delivered" type="submit" value="Deliver Order">
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
