<div class="main_content logged_in_background">
<div class="search_section_block">
  <p class="title_of_page"> Feedback </p>
  <table class="feedback_table">
    <tr class="feedback_row">
      <th colspan="2" class="feedback_data column_heading">Name</th>
      <th class="feedback_data column_heading">Contact</th>
      <th class="feedback_data column_heading">City</th>
      <th class="feedback_data column_heading">State</th>
      <th class="feedback_data column_heading">Email</th>
      <th class="feedback_data column_heading">Feedback</th>
    </tr>
    <% value_decides_class=0 %>
    <% Contact.all.each do |contact| %>
      <% value_decides_class+=1 %>
      <tr class="<%= value_decides_class.even? ? "feedback_row_one" : "feedback_row_two" %>">
        <td colspan="2" class="feedback_data">
          <%= contact.first_name.concat(" #{contact.last_name}") %>
        </td>
        <td class="feedback_data">
          <%= contact.mobile %>
        </td>
        <td class="feedback_data">
          <%= contact.city %>
        </td>
        <td class="feedback_data">
          <%= contact.state %>
        </td>
        <td class="feedback_data">
          <%= contact.email %>
        </td>
        <td class="feedback_data">
          <%= contact.message %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
</div>
