<div class="main_content logged_in_background">
  <p class="Flash-error-signinup"> <%= flash[:alert_contactus] %> </p>
  <p class="Flash-error-signinup"> <%= flash[:error_contactus] %> </p>
  <p class="contact_title"> Contact Us </p>
  <div class="contact_us_block">
    <p class="contact_us_text"> For any grievance, suggesstions and queries kindly write to us </p>
    <%= form_with url:contacts_path do |form| %>
    <div class="contact_us_section">
      <div class="contactus-section">
        <div class="contact-input-label">First Name:<p class="Mandatory"> * </p></div>
        <div class="input-icons">
          <i class="fa fa-user icon"></i>
          <%= form.text_field :first_name,class:"Form-input",autofocus: "autofocus" %>
        </div>
      </div>
      <div class="contactus-section">
        <div class="contact-input-label"> Last Name:</div>
        <%= form.text_field :last_name,class:"Form-input" %>
      </div>
    </div>
      <div class="contact_us_section">
        <div class="contactus-section">
          <div class="contact-input-label"> City:<p class="Mandatory"> * </p></div>
          <%= form.text_field :city,class:"Form-input" %>
        </div>
        <div class="contactus-section">
          <div class="contact-input-label"> State:<p class="Mandatory"> * </p></div>
          <%= form.text_field :state,class:"Form-input" %>
        </div>
      </div>
      <div class="contact_us_section">
        <div class="contactus-section">
          <div class="contact-input-label">Mobile Number:<p class="Mandatory"> * </p></div>
          <div class="input-icons">
            <i class="fa fa-phone icon"></i>
            <%= form.text_field :mobile,class:"Form-input",autocomplete:"mobile",maxlength:"10" %>
          </div>
        </div>
        <div class="contactus-section">
          <div class="contact-input-label">Email:<p class="Mandatory"> * </p></div>
          <div class="input-icons">
            <i class="fa fa-envelope icon"></i>
            <%= form.email_field :email,class:"Form-input" %>
          </div>
        </div>
      </div>
      <div class="contactus-section center_section">
        <div class="contact-input-label">Message :<p class="Mandatory"> * </p></div>
          <%= form.text_area(name="message",class:"Form-input message_field",rows:"5",columns:"70",placeholder:"Write your message here ....") %>
      </div>
      <div class="Form-section">
        <div class="input-icons">
          <i class="fa fa-send-o icon_send"></i>
          <%= form.submit "Send Feedback",class:"contact_submit",data: { disable_with: "Sending .." } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
