<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <script>
      function myFunction() {
        alert("Becareful while updating your profile...");
      }
    </script>

      <% if @current_user %>
        <div class="Customer_heading">
          <img src="Logo.png" class="logo">
          <div class="welcome">Welcome <%= @current_user.first_name %>!</div>
          <section class="header_section">
            <p class="main_header_links" >
              <%= link_to "Home", menus_path, class:"main_link" %>
            </p>
            <p class="main_header_links" >
              <%= link_to "View Profile", view_profile_customer_path, class:"main_link",onclick: "myFunction()" %>
            </p>
            <p class="main_header_links">
              <%= link_to "Sign out", destroy_session_path, method:"delete", class:"main_link" %>
            </p>
          </section>
        </div>
        <div class="menubar_display">
          <div class="dropdown">
            <span><i class="fa fa-bars"></i></span>
            <div class="dropdown-content">
                <% if @current_user.role == "Customer" %>
                  <p class="dropdown-lists">
                    <%= link_to "My Orders", my_orders_path, class:"links_dropdown" %>
                  </p>
                <% end %>
                <% if @current_user.role == "Owner" or @current_user.role == "Clerk" %>
                  <p class="dropdown-lists" >
                    <%= link_to "Pending Orders", orders_path, class:"links_dropdown"%>
                  </p>
                  <p class="dropdown-lists" >
                    <%= link_to "List Sales", list_orders_path, class:"links_dropdown" %>
                  </p>
                <% end %>
                <% if @current_user.role == "Owner" %>
                  <p class="dropdown-lists">
                    <%= link_to "Make an Order",owner_menus_path,class:"links_dropdown" %>
                  </p>
                  <p class="dropdown-lists" >
                    <%= link_to "Manage Billing Persons", customers_path, class:"links_dropdown" %>
                  </p>
                <% end %>
            </div>
          </div>
          <div class="display_cart_header">
                <%= form_with(url: "/orderitems", method: "get", local:true) do %>
                  <%= image_submit_tag(
                        source="cart.png",
                        class: "cart_image",
                        title:"cart"
                    )
                  %>
                <% end %>
              </div>
        </div>
      <% end %>
        <p class="Flash-alert"> <%= flash[:alert] %> </p>
        <p class="Flash-error"> <%= flash[:error] %> </p>
        <p class="Flash-alert-message"> <%= flash[:alert_message] %> </p>
    <%= yield %>
  </body>
</html>
